*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-family: "Inter", sans-serif;
  position: relative;
  background: #fff;
  color: #23304d;
  font-size: 0.85rem;
  line-height: 1.1em;
}
/* width */
main {
  scrollbar-color: rgb(216 213 203 / 0.5) rgb(255 255 255 / 0.5);
  scrollbar-width: thick;
}
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216 213 203 / 0.5);
  box-shadow: 0 0 0 3px rgb(255 255 255 / 0.5) inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(216 213 203 / 0.75);
}
.toggle {
  position: absolute;
  right: -10px;
  top: 10px;
  display: block;
  background-color: transparent;
  color: currentColor;
  padding: 0;
  border: 0 none;
  display: none;
  z-index: 30;
  cursor: pointer;
}
.toggle:focus {
  outline: none;
}
.page {
  position: relative;
  padding: 10px 20px 0;
  border: 1px solid #cbcbcb;
  width: 100%;
}
.logo {
  width: 122px;
  height: 64px;
  display: block;
  background-image: url(../svg/PPP-Logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  font-size: 21.3px;
  line-height: 1.25em;
  font-weight: 400;
}
h1 + div,
h1 + ul {
  margin-top: 20px;
}
p + p {
  margin-top: 20px;
}
p {
  line-height: 1.25em;
}
header {
  width: 100%;
  position: relative;
}
header a {
  display: block;
}
nav {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 0);
  background: #fff;
  bottom: 0;
  left: 0;
}

article {
  display: block;
  padding: 20px 0;
}
.background {
  max-width: 100%;
  height: auto;
}
main {
  padding: 0 0 20px;
}
aside {
  padding: 20px 0 0;
  line-height: 1.1em;
  text-align: right;
  word-spacing: 6px;
}
.page-team aside {
  text-align: left;
  word-spacing: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-right: 55px;
  padding: 10px;
  margin: 0 -20px;
  font-size: 10px;
  line-height: 12px;
  background-color: #fff;
  letter-spacing: -0.013em;
  word-spacing: -0.15em;
}
a {
  text-decoration: none;
  color: #23304d;
}
a.active {
  color: #b1aa8d;
}
footer a.active {
  color: #23304d;
}
nav ul {
  list-style: none;
  font-size: 18.7px;
  line-height: 1em;
  letter-spacing: -0.026em;
}
nav ul:empty {
  display: none !important;
}
nav a {
  text-transform: uppercase;
}
nav ul li + li {
  margin-top: 20px;
}
nav ul ul li + li {
  margin-top: 10px;
}
nav ul ul {
  margin: 0 0 17px 22px;
  line-height: 1em;
  font-size: 16px;
}
nav ul ul ul {
  margin-left: 0;
  margin-top: 3px;
  margin-bottom: 15px;
}
nav > ul > li > a {
  display: inline-block;
}
nav ul ul li a::after {
  content: " >";
}
nav > ul > li > a.active {
  font-size: 21.3px;
}
nav > ul > li > a::before {
  content: ">";
  display: inline-block;
  transform: rotate(90deg);
  margin-right: 0.2em;
}
.submenu {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 333ms ease-in-out;
}
.submenu > div {
  overflow: hidden;
}
.active + .submenu {
  margin-top: 27px;
  grid-template-rows: 1fr;
}
.menu {
  margin-top: 20px;
}
.menu a {
  text-decoration: none;
}
nav ul ul a[href="javascript:void(0)"] {
  pointer-events: none;
  margin-bottom: 10px;
  display: block;
  color: #b1aa8d;
}
nav ul ul a[href="javascript:void(0)"]::after {
  display: none;
}
a.active::before {
  display: none;
}
.switch {
  cursor: pointer;
}
table {
  margin-bottom: 20px;
}
table thead {
  display: none;
}
table td {
  vertical-align: top;
}
table td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}
main ul {
  list-style-type: disc;
  padding: 0 0 20px 25px;
}
main ul li + li {
  margin-top: 5px;
}
main a {
  text-decoration: underline;
}
/*Team page
*/
.page-team .profile {
  margin-bottom: 20px;
  width: 100%;
}
.close {
  cursor: pointer;
  float: right;
}

@media (min-width: 768px) {
  body {
    background: #f1f1f1;
  }
  .detail {
    background-color: white;
    width: 504px;
    border-right: 1px solid #b1aa8d;
    height: 654px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-right: 26px;
  }
  .page-team .page {
    background: url(../img/background-team.jpg) no-repeat right center;
    background-size: cover;
  }
  .page-team .close {
    top: 223px;
    z-index: 10;
  }
  .page-team main {
    width: 504px;
    padding-right: 28px;
    border-right: 1px solid #b1aa8d;
  }
  .page-team .profile {
    position: absolute;
    top: 234px;
    right: 72px;
    width: 276px;
    height: 351px;
    object-fit: cover;
  }
  .page-team aside {
    width: 290px;
    right: 64px;
    bottom: 58px;
    height: 250px;
    text-align: left;
  }
  .close {
    position: absolute;
    top: 0;
    right: 483px;
    cursor: pointer;
    width: 18px;
  }
  .close svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

/*Start page
*/
.page.page-start {
  background: url(../img/background-home-mobile.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.grid {
  position: relative;
  height: 100%;
  padding: 10px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 20px;
  font-size: 12px;
}
.grid > * {
  aspect-ratio: 3.51;
  background-color: rgb(255 255 255 / 0.92);
  background-size: cover;
  padding: 5px 5px 5px 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #b1aa8d;
}
@media (max-width: 575.89px) {
  .grid > *:first-child {
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
  }
  .page-start .grid .logo {
    flex: 0 0 calc(50% - 2em);
    width: calc(50% - 2em);
    margin: 1em;
  }
  .grid > *:first-child > * {
    flex: 0 0 50%;
    width: 50%;
  }
}

.kanzlei {
  background-image: url(../img/Home-Kanzlei_mobile.jpg);
}
.team {
  background-image: url(../img/Home-Team_mobile.jpg);
}
.rechtsgebiete {
  background-image: url(../img/Home-Rechtsgebiete_mobile.jpg);
}
.karriere {
  background-image: url(../img/Home-Karriere_mobile.jpg);
}
.news {
  background-image: url(../img/Home-News_mobile.jpg);
}
@media (min-width: 576px) {
  .grid {
    font-size: 17px;
  }
  .grid h2 {
    font-size: 21.3px;
    margin-bottom: auto;
  }
  .grid > * {
    aspect-ratio: 1.11321;
    padding: 20px;
    box-shadow: 0 0 0 1px #b1aa8d;
    justify-content: space-between;
  }
  .kanzlei {
    background-image: url(../img/Home_KANZLEI.jpg);
  }
  .team {
    background-image: url(../img/Home_TEAM.jpg);
  }
  .rechtsgebiete {
    background-image: url(../img/Home_RECHTSGEBIETE.jpg);
  }
  .karriere {
    background-image: url(../img/Home_KARRIERE.jpg);
  }
  .news {
    background-image: url(../img/Home_NEWS.jpg);
  }
}

.team,
.rechtsgebiete {
  color: #b1aa8d;
}

.page-start .logo {
  width: 90%;
  height: auto;
  aspect-ratio: 1.90625;
  max-width: 100%;
  margin: 0 auto;
}

/* News
*/
.news-list {
  display: flex;
  flex-direction: column-reverse;
}
.news-item + .news-item {
  margin-bottom: 20px;
}
time {
  font-size: 0.75em;
}
.news-item a:hover {
  color: #b1aa8d;
}
.background-mobile {
  max-width: calc(100% + 40px);
  margin: -10px -20px 20px;
}
.downloads {
  margin-top: 20px;
}
.downloads p {
  margin-bottom: 20px;
}
.downloads a {
  display: block;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .page-start .logo {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .page-news .page {
    background: url(../img/Karriere-leer.jpg) no-repeat right center;
    background-size: cover;
  }
  .page-news article {
    margin-right: 300px;
  }
  .background-mobile {
    display: none;
  }
  .page.page-start {
    background: url(../img/background-home.jpg) no-repeat;
  }
  .page-start .logo {
    width: 244px;
    height: 128px;
    aspect-ratio: initial;
    transform: translate(-20px, 0);
    margin: 37px auto 0;
  }
  .grid {
    padding: 0 45px 45px 0;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 45px;
  }
  .grid > * {
    padding: 37px 9px 25px 37px;
  }
  body {
    font-size: 20px;
    letter-spacing: -0.045em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .page {
    position: relative;
    width: 1436px;
    height: 907px;
    margin-top: calc((100vh - 907px * clamp(0.5, var(--zoom), 2)) / 2);
    margin-left: calc((100vw - 1436px * clamp(0.5, var(--zoom), 2)) / 2);
    border: 1px solid #cbcbcb;
    padding: 45px 0 0 53px;
    transform: scale(clamp(0.5, var(--zoom), 2));
    transform-origin: left top;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dedede",GradientType=1);
    overflow: hidden;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .logo {
    width: 244px;
    height: 128px;
    display: block;
    background-image: url(../svg/PPP-Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  p + p {
    margin-top: 20px;
  }
  p {
    line-height: 1.25em;
  }
  header {
    width: 100%;
    padding: 0;
  }
  header a {
    display: block;
  }
  nav {
    position: absolute;
    width: 401px;
    height: 681px;
    border-right: 1px solid #b1aa8d;
    bottom: 0;
    left: 0;
    padding: 0 20px 0 53px;
    z-index: 1;
    transform: none;
    background-color: transparent;
  }
  article {
    display: block;
    height: 654px;
    margin: 50px 0 0 348px;
    padding: 0 0 0 46px;
  }
  main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
  }
  aside {
    position: absolute;
    bottom: 81px;
    right: 55px;
    width: 588px;
    line-height: 1.1em;
    font-size: 18px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0 55px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    background-color: #fff;
    letter-spacing: -0.013em;
    word-spacing: 0.13em;
    margin: 0;
  }
  nav ul {
    list-style: none;
    font-size: 18.7px;
    line-height: 1em;
    letter-spacing: -0.026em;
  }
  nav ul li + li {
    margin-top: 20px;
  }
  nav ul ul li + li {
    margin-top: 10px;
  }
  nav ul ul {
    line-height: 1em;
    font-size: 16px;
  }
  nav > ul > li > a {
    display: inline-block;
  }
  nav > ul > li > a.active {
    font-size: 21.3px;
  }
  nav > ul > li > a::before {
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    margin-right: 0.2em;
  }
  a.active::before {
    display: none;
  }
  nav ul ul a[href="javascript:void(0)"] {
    pointer-events: none;
    font-size: 13px;
    color: #b1aa8d;
    margin-bottom: 1px;
  }
  nav ul ul ul li a {
    font-size: 13px;
  }
  nav ul ul ul li + li {
    margin-top: 1px;
  }
  .page-enter-active {
    transition: all 500ms ease-in;
  }
  .page-leave-active {
    transition: all 250ms ease-in;
  }
  .page-leave-active .background,
  .page-leave-active .profile,
  .page-leave-active aside,
  .page-leave-active main {
    transition-delay: 0;
  }
  .page-enter-active .background,
  .page-enter-active .profile,
  .page-enter-active aside,
  .page-enter-active main {
    transition-duration: 0;
  }

  .page-leave-to .background,
  .page-enter-to .background,
  .page-leave-to .profile,
  .page-enter-to .profile,
  .page-leave-to aside,
  .page-enter-to aside {
    opacity: 0;
  }
  .page-enter-to main,
  .page-leave-to main {
    opacity: 1;
  }
  .profile,
  aside,
  main,
  .background {
    transition: all 333ms ease-out;
  }
  .profile {
    transition-delay: 200ms;
  }
  aside {
    opacity: 0;
  }
  .show-true aside {
    transition-delay: 333ms;
    opacity: 1;
  }
  .menu {
    /* font-size: 16px;
    margin-top: 20px; */
    line-height: 30px;
    position: relative;
    /* bottom: 50px; */
  }
}

@media (max-width: 767.9px) {
  nav {
    z-index: 10;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  header::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: -20px;
    right: -20px;
    bottom: -10px;
    z-index: -1;
  }
  .toggle {
    display: block;
  }
  .open {
    overflow: hidden;
  }
  .open .toggle {
    position: fixed;
    top: 20px;
    right: 10px;
  }
  .open .toggle svg path {
    transition: 0.2s;
    d: path(
      "m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
    );
  }
  .open nav {
    transition: all 333ms ease-in-out;
    transform: none;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .background {
    display: none;
  }
  .profile {
    order: 0;
  }
  main div:not([class]) br {
    display: none;
  }
  .page-rechtsgebiete main div:not([class]) p:last-child br,
  .page-team main div:not([class]) p:last-child br {
    display: unset;
  }
}
